<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.fieldwork">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".views.fieldworkList.FieldworkListView"
            android:label="@string/title_activity_fieldwork_list"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".views.fieldwork.FieldworkView"
            android:label="@string/title_activity_fieldwork">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.fieldworkList.FieldworkListView" />
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAP1BfbFhr9HDKKwu_TepQeLRZcLmFpmY" />

        <activity
            android:name=".views.editLocation.EditLocationView"
            android:label="@string/title_activity_edit_location">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.fieldwork.FieldworkView" />
        </activity>

        <activity
            android:name=".views.map.FieldworkMapsView"
            android:label="@string/title_activity_fieldwork_maps"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.fieldworkList.FieldworkListView" />
        </activity>


        <activity android:name=".views.login.LoginView"
            android:label="@string/title_activity_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.fieldworkList.FieldworkListView" />
        </activity>

        <activity android:name=".views.FavouriteList.FavouriteView"
            android:label="@string/title_favourite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.fieldworkList.FieldworkListView" />
        </activity>

        <activity android:name=".activities.SettingsActivity" />

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>